*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

::-webkit-scrollbar {
    height: 12px;
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #838383;
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #636262;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}

h1 {
    color:#FFFFFF
}

h2 {
    margin: 10px;
    color: #B6C2CF
}

body {
    background-color: #070707;
}

nav {
    display: flex;
    align-items: center;
    height: 5vh;
    background-color: #060606;
}

.boards {
    margin-left: 20px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: left;
}


.container {
    display: flex;
    min-height: 90vh;
    max-height: 90vh;
    overflow-x: scroll;
}

.listsContainer {
    display: flex;
    justify-content: space-between;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 250px;
    max-height: 82vh;
    background-color: #101204;
    height: fit-content;
    margin: 30px 10px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.newListContainer {
    margin: 30px 20px;
}

.newListForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    min-width: 250px;
    background-color: #101204;
    gap: 5px;
    border-radius: 10px;
}

.newListForm input {
    border-radius: 1%;
    background-color: #3F3F3F;
    border: 2px solid transparent;
    font-size: 18px;
    padding: 8px;
    color: #FFFFFF;
    border-radius: 4px;
} 

.newListForm input[type=text]::-moz-placeholder {
    color: #FFFFFF
} 

.newListForm input[type=text]::placeholder {
    color: #FFFFFF
}

.newListForm input[type=text]:focus {
    background-color: transparent;
    transition: 0.2s ease;
    outline: 0 transparent;
    border: 2px solid #85B8FF;
    caret-color: #FFFFFF;
}

.addNewList {
    font-size: 16px;
    height: 4vh;
    width: 40%;
    background-color: #579DFF;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    color: #1D2125
}

.cardsContainer {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    justify-content: space-between;
    gap: 10px;
    margin: 10px;
}

.card {
    color: #FFFFFF;
    background-color: #22272B;
    padding: 15px;
    border-radius: 10px;
}

.newCardForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 10px;
    background-color: #101204;
    gap: 10px;
    border-radius: 10px;
}

.newCardForm input {
    border-radius: 1%;
    background-color: #22272B;
    border: 2px solid transparent;
    font-size: 17px;
    padding: 8px;
    color: #FFFFFF;
    border-radius: 10px;
} 

.newCardForm input[type=text]::placeholder {
    color: #6b6b6b
}

.newCardForm input[type=text]:focus {
    background-color: transparent;
    transition: 0.2s ease;
    outline: 0 transparent;
    border: 2px solid #85B8FF;
    caret-color: #FFFFFF;
}

.addNewCard {
    font-size: 15px;
    background-color: #579DFF;
    height: 3vh;
    width: 100%;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    color: #1D2125;
}

